body {
    font-family: Georgia, serif;
    margin: 20px;
    padding: 40px;
    background-color: #ffebee;
    color: #212121;
}

h1, h2, h3 {
    color: #b71c1c;
    text-transform: uppercase; 
    letter-spacing: 0.7px;
}

article {
    margin-bottom: 20px;
}

section {
    
    padding: 20px;          
    margin-bottom: 25px;    
    border-radius: 0px;   
    border-left: 8px solid #b71c1c;
    background-color: #e8f5e9;
    box-shadow: inset 8px 8px 16px #d9c8cb, 
                inset -8px -8px 16px #ffffff;
}

a {
    color: #7f0000;
    text-decoration: none;
}
a:hover {  
    text-decoration: underline;
}

img {
    margin: 20px; 
    border: 4px solid #b71c1c; 
    border-radius: 0px;
    box-shadow: 0 4px 8px #d9c8cb;
}
